html {
   font-family: 'Rosario', sans-serif;
   font-size: 20px;
}

body {
   margin: 0 auto;
   background-color: #fff;
   overflow-x: hidden;
}

/* header start*/
header {
   height: 129px;
   width: 100vw;
   background-color: black;
   display: flex;
   position: sticky;
   top: 0;
   z-index: 8;
}

.menu {
   width: 55%;
   display: flex;
   justify-content: space-around;
   margin-left: 650px;
   margin-top: 37px;
}

.menu__nav {
   text-decoration: none;
   font-size: 1.8em;
   color: #fff;
   font-style: italic;
   font-family: 'Rosario', sans-serif;
}

/* header end*/

/*section_gallery start*/
.gallery {
   display: flex;
   justify-content: center;
}

.first_blok {
   width: 465px;
   margin: 9px;
   animation: first_blok 1s;
}

@keyframes first_blok {
   0% {
      transform: translateX(-150%);
   }
}

.first_blok_right {
   width: 465px;
   margin: 9px;
   animation: first_blok_right 1s;
}

@keyframes first_blok_right {
   0% {
      transform: translateX(150%);
   }
}

.first_blok__img {
   margin-top: 42px;
}

.second_blok_right {
   margin: 189px 63px 179px 43px;
   animation: second_blok_right 2s;
}

@keyframes second_blok_right {
   0% {
      transform: translateX(100%);
   }
}

.second_blok_left {
   margin: 189px 63px 179px 43px;
   animation: second_blok_left 2s;
}

@keyframes second_blok_left {
   0% {
      transform: translateX(-150%);
   }
}

/*section_gallery end*/

/*section_services start*/
.services {
   display: flex;
   justify-content: space-between;
   margin-top: 85px;
}

.menu_serv {
   width: 50%;
   display: flex;
   position: relative;
}

.serv_12,
.serv_34 {
   width: 50vw;
   text-align: center;
   font-family: 'Rosario', sans-serif;
   font-style: italic;
   font-size: 48px;
}

.serv_1 {
   box-sizing: border-box;
   margin-top: 52px;
   animation: serv_1 5s infinite;
}

.serv_2 {
   box-sizing: border-box;
   margin: 52px;
   animation: serv_2 5s infinite;
}

.serv_3 {
   box-sizing: border-box;
   margin-top: 52px;
   animation: serv_3 5s infinite;
}

.serv_4 {
   box-sizing: border-box;
   margin-top: 52px;
   animation: serv_4 5s infinite;
}

@keyframes serv_1 {
   0% {
      transform: translate(0px, 0);
   }

   25% {
      transform: translate(495px, 0);
   }

   50% {
      transform: translate(495px, 495px);
   }

   75% {
      transform: translate(0, 495px);
   }

   100% {
      transform: translate(0px, 0);
   }
}

@keyframes serv_3 {
   0% {
      transform: translate(0px, 0);
   }

   25% {
      transform: translate(0, 495px);
   }

   50% {
      transform: translate(-495px, 495px);
   }

   75% {
      transform: translate(-495px, 0px);
   }

}

@keyframes serv_2 {
   0% {
      transform: translate(0px, 0);
   }

   25% {
      transform: translate(0, -495px);
   }

   50% {
      transform: translate(495px, -495px);
   }

   75% {
      transform: translate(495px, 0px);
   }
}

@keyframes serv_4 {
   0% {
      transform: translate(0px, 0);
   }

   25% {
      transform: translate(-495px, 0);
   }

   50% {
      transform: translate(-495px, -495px);
   }

   75% {
      transform: translate(0, -495px);
   }
}

/*section_services end*/

/*section_services start*/
.title {
   text-align: center;
   font-size: 96px;
   font-family: 'Rosario', sans-serif;
   padding: 51px;
}

.cards {
   width: 100vw;
   display: flex;
   justify-content: space-evenly;
}

.card_title {
   display: none;
   box-sizing: border-box;
   text-align: center;
   font-family: 'Volkhov', serif;
   font-size: 48px;
   color: #fff;
   background-color: rgba(163, 83, 10, 0.7);
   width: 400px;
   height: 150px;
   position: absolute;
   padding: 50px;
   border-radius: 0 0 39px 39px;
   margin: -154px 0;
}

.card:hover .card_title {
   display: block;
}

.cards:hover>.card {
   filter: brightness(50%);
   transition: 0.8s;
}

.cards .card:hover {
   filter: none;
}

/*section_services end*/

/*section_contact start*/
.conteiner {
   width: 80vw;
   margin: 50px auto;
   display: flex;
}


.title_contact {
   font-family: 'Rosario', sans-serif;
   font-style: italic;
   font-size: 48px;
   text-align: center;
   margin: 20px;
}

.items {
   width: 936px;
   height: 400px;
   background-color: #E5E5E5;
   box-sizing: border-box;
}

input {
   border: 1px solid #fff;
   font-size: 36px;
   font-family: 'Rosario', sans-serif;
   color: #00000080;

}

.name {
   width: 377px;
   height: 80px;
   margin: 35px 25px;
}

.email {
   width: 452px;
   height: 80px;
   margin: 35px 18px;
}

.Message {
   width: 878px;
   height: 209px;
   margin: 0 25px;
}

.map {
   margin: 50px;
}

a {
   text-decoration: none;
   color: black;
}

.footer {
   width: 80%;
   margin: 100px auto;
   display: flex;
   justify-content: space-between;
}

.contacts {
   width: 30%;
   text-align: center;
   font-family: 'Rosario', sans-serif;
   font-style: italic;
   font-size: 30px;
   color: black;
}

.hours {
   font-size: 36px;
   padding-bottom: 43px;
}

.link {
   text-align: left;
}

.link_img {
   margin: 0 15px;
}

.link_margin {
   margin: 0 150px;
}

/*section_contact end*/